{#
#    iphone.css - style sheet for the iphone/mobile browser display of the terbium static gallery generation tool
#    Copyright (C) 2009 Shawn Sulma <shawn@terbium.ca>
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
html {
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: helvetica;
    background-color: {{ config.colours.background }};
    color: {{ config.colours.main }};
}
#body {
    width: 320px;
    padding: 0px;
    margin: 0px;
}
#title {
    padding: 1ex;
}
#title, .title {
    font-weight: bold;
    font-size: larger;
    background-color: {{ config.colours.midlight }};
    line-height: 100%;
}
#home {
    display: none;
}
#dots {
    display: none;
}
ul.menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
ul.menu li {
    display: inline-block;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    padding-right: 15px;
    background: url(arrow.png) right center no-repeat;
}
ul.menu li a {
    display: block;
    text-decoration: none;
}

#navbar .breadcrumb, #navbar .breadcrumb *, #home * {
    vertical-align: middle;
}
#home {
    text-align: right;
}
#navbar {
    background-color: {{ config.colours.utility }};
    padding: 2px;
}
#footer {
    border-top: 1px solid {{ config.colours.utility }};
    padding: 0px;
    margin: 0px;
    padding-top: 1pc;
    background-color: {{ config.colours.midlight }};
}
.directories, .files, .relateds, .desc {
    border-top: 1px solid {{ config.colours.utility }};
}
.directories, .relateds, .desc {
    background-color: {{ config.colours.midlight }};
}
.directories .directory, .relateds .related {
    display: block;
    border-top: 1px solid {{ config.colours.utility }};
    padding-top: 6px;
    padding-bottom: 6px;
}
.directory span.thumb, .related span.thumb {
    width: 144px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.directory span.properties, .related span.properties {
    display: inline-block;
    width: 144px;
    text-align: left;
    vertical-align: top;
    padding: 2px;
}
.directory span.thumb *, .related span.thumb * {
    vertical-align: middle;
}
.peek, .counts {
    display: none;
}
.files .file {
    min-width: 138px;
    min-height: 144px;
    text-align: center;
    display: inline-block;
    padding: 6px;
    margin: 4px;
    vertical-align: middle;
    line-height: 144px;
    background-color: {{ config.colours.lowlight }};
}
.files .file * {
    vertical-align: middle;
}
.relateds .title {
}

#logo {
    float: right;
}
.smallprint {
    font-size: smaller;
    text-align: center;
}
img#view {
    max-width: 320px;
}
div#full, #before, #after {
    display: none;
}
.floater {
    display: block;
    padding-left: 1pc;
    text-align: right;
    position: absolute;
    top: 0px;
    right: 0px;
}
.floater a {
    text-decoration: none;
    font-size: 24pt;
}
#item span.properties, .desc {
    display: block;
    padding: 1pc;
}
#item span.visual {
    display: block;
}
dt {
    font-style: italic;
    border-top: dotted 1px {{ config.colours.utility }};
}
dl {
    border-bottom: dotted 1px {{ config.colours.utility }};
}
.teaser {
    font-size: smaller;
}
#maintitle {
    display: block;
    margin: 0px;
    padding: 0px;
}
#subtitle {
    display: block;
    font-size: smaller;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}
a:link, a:visited {
    color: {{ config.colours.link }};
    text-decoration: none;
    border: none;
}
a:hover, .highlight, .hover, a.hover, div.files span.file a:hover {
    color: {{ config.colours.hover }};
    text-decoration: none;
    border: 0px;
    background-color: {{ config.colours.lowlight }};
}
a:active {
    color: {{ config.colours.link }};
    text-decoration: none;
    border: none;
}
hr {
    display: none;
}
