{#
#    terbium.css - default style sheet for the terbium static gallery generation tool
#    Copyright (C) 2009 Shawn Sulma <shawn@terbium.ca>
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
body {
    background-color: {{ config.colours.background }};
    font-family: Helvetica, Tahoma, Arial;
    color: {{ config.colours.main }};
}
img {
    border: 0px;
    padding: 0px;
    margin: 0px;
    vertical-align: bottom;
}
p {
    padding-right: 1pc;
    padding-left: 1pc;
}
div.desc {
    float: left ;
    margin-top: 1pc;
    margin-bottom: 0.55pc;
    margin-right: 1%;
    margin-left: 1%;
    width: 30%;
    background-color: {{ config.colours.midlight }};
}
div.directores {
    margin: 2pc 1pc 2pc 1pc;
}
div.directories span.directory, div.relateds span.related {
    clear: both;
    vertical-align: top;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    -moz-box-align: stretch;
    display: inline-block;
    width: 30%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1pc;
    margin-top: 1pc;
}
div.directories span.directory {
    background-color: {{ config.colours.midlight }};
}
div.directories div.reference_frame, div.relateds div.reference_frame {
    padding: 0.5ex;
    -moz-box-sizing: border-box;
}
span.directory span.thumb, span.related span.thumb, span.directory span.thumborama, span.related span.thumborama {
    display: -moz-inline-box;
    display: inline-block;
    height: 140px;
    vertical-align: top;
    text-align: center;
    -moz-box-orient: vertical;
    -moz-box-align: center;
}
span.directory span.thumb, span.related span.thumb {
    width: 140px;
}

span.directory span.properties, span.related span.properties {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 140px;
    padding-left: 0.5pc;
    padding-top: 0.5pc;
    display: -moz-inline-box;
    display: inline-block;
    -moz-box-orient: vertical;
    -moz-box-align: start;
}
div.peek {
    vertical-align: bottom;
    position: absolute;
    bottom: 2px;
    right: 2px;
    margin: 0px;
    padding: 0px;
    line-height: 36px;
}
div.peek a, div.peek img, div.peek a img {
    vertical-align: bottom;
}
div.files {
    vertical-align: middle;
    margin: 1pc 1pc 1pc 1pc;
    text-align: center;
}
div.files span.file {
    display: -moz-inline-box;
    display: inline-block;
    margin: 2pt;
    vertical-align: middle;
    line-height: 160px;
}
div.files span.file a {
    vertical-align: middle;
    height: 160px;
    min-width: 160px;
    background-color: {{ config.colours.highlight }};
}
div.files span.file a.thumb {
    width: 160px;
}
div.files span.file a.thumborama {
    width: 480px;
}
div.files span.file a.thumborama img {
    max-width: 450px;
    min-height: 100px;
}
div.files span.file img {
    vertical-align: middle;
    margin: 1ex;
}
div.relateds {
    clear: both;
}
div.relateds span.related {
    margin-bottom: 1pc;
    border-top: 1px dotted {{ config.colours.utility }};
    border-left: 1px dotted {{ config.colours.utility }};
}
div.relateds span.related img {
    vertical-align: middle;
}
div.relateds span.related span.thumb {
    text-align: center;
    margin-top: 1ex;
    margin-right: 1pc;
}
a.thumb, a.thumborama {
    width: auto;
    height: auto;
    text-align: center;
    padding: 4px;
    display: -moz-inline-box;
    display: inline-block;
    -moz-box-orient: vertical;
    -moz-box-align: center;
}
a.icon {
    width: 36px;
    height: 36px;
    text-align: center;
    display: -moz-inline-box;
    display: inline-block;
    padding: 2px;
    margin: 0px;
    -moz-box-orient: vertical;
    -moz-box-align: center;
}
a:link, a:visited {
    color: {{ config.colours.link }};
    text-decoration: none;
    border: none;
}
a:hover, .highlight, .hover, a.hover, div.files span.file a:hover {
    color: {{ config.colours.hover }};
    text-decoration: none;
    border: 0px;
    background-color: {{ config.colours.lowlight }};
}
a:active {
    color: {{ config.colours.link }};
    text-decoration: none;
    border: none;
}
.title {
    font-size: 110%;
    font-weight: bold;
    white-space: normal;
}
.property {
    font-size: smaller;
}
.teaser p {
    margin: 0px;
    padding: 0px;
    font-style: italic;
    font-size: smaller;
}
#title {
    background-color: {{ config.colours.midlight }};
    font-weight: bold;
    vertical-align: top;
    padding: 0.5ex;
    font-size: larger;
    min-height: 48px;
}
#navbar {
    font-size: x-small;
    height: 32px;
    position: relative;
    background-color: {{ config.colours.utility }};
}
ul.menu {
    list-style-type: none;
    display: -moz-inline-box;
    display: inline-block;
    * display: inline-block;
    margin: 0px;
    padding: 0px;
}
ul.menu li {
    display: -moz-inline-box;
    display: inline-block;
    * display: inline;
    padding: 0px;
    padding-right: 15px;
    background: url(arrow.png) right center no-repeat;
}
#navbar .breadcrumb, #navbar .breadcrumb * {
    vertical-align: middle;
}
#footer {
    font-size: x-small;
    text-align: right;
    padding: 1em;
    clear: both;
    background-color: {{ config.colours.midlight }};
}
#footer p {
    line-height: 100%;
}
.more {
    font-style: italic;
    font-size: smaller;
    cursor: pointer;
}
.smallprint {
    font-size: xx-small;
}
#preview {
    display: table;
}
#item {
    display: table-row;
}
#item span.visual {
    display: table-cell;
    * float: left;
    vertical-align: top;
    padding: 1pc;
}
#item span.properties {
    vertical-align: top;
    padding: 1pc;
    margin: 0px;
    display: table-cell;
    * float: left;
}
span#nav {
    white-space: nowrap;
}
.floater {
    text-align: right;
    position: absolute;
    right: 1ex;
    top: 0px;
    font-size: 24px;
    vertical-align: middle;
    line-height: 30px;
    display: block;
}
.floater * {
    vertical-align: middle;
    background-color: {{ config.colours.midlight }};
}
.siblings {
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    padding: 1ex;
    position: absolute;
    right: 0px;
    top: 100%;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 10;
    background-color: {{ config.colours.midlight }};
}
.siblings * {
    vertical-align: top;
}
.siblings a.icon {
    vertical-align: top;
    text-align: right;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.siblings a.icon img {
    vertical-align: top;
    text-align: right;
    padding: 4px;
    margin: 0px;
    border: 0px;
}
.reference_frame {
    position: relative;
}
.inactive {
    display: none;
}
#full {
    padding-top: 1pc;
    padding-bottom: 1pc;
    background-color: {{ config.colours.lowlight }};
}
#full, #full * {
    text-align: center;
    vertical-align: middle;
}
.active {
    cursor: pointer;
}
hr {
    width: 67%;
    border: 0px;
    clear: both;
    border-top: 1px solid {{ config.colours.lowlight }};
}
ul.counts, ul.counts li {
    display: block;
    list-style-type: none
}
ul.counts {
    margin: 0px;
    margin-top: 1ex;
    padding: 0px;
}
ul.counts li {
    font-size: smaller;
    margin: 0px;
    padding: 0px;
}

img.overlay {
    position: absolute;
    top: 0px;
    right: 0px;
}
#home {
    position: absolute;
    text-align: right;
    vertical-align: middle;
    bottom: 0px;
    top: 0px;
    right: 0px;
}
#home * {
        vertical-align: middle;
}
dl.properties {
}
dt.label {
    width: 10em;
    display: block;
    font-size: smaller;
    vertical-align: top;
    padding: 0 0.5ex 0px 0.5ex;
    border: 1px dotted {{ config.colours.main }};
    background-color: {{ config.colours.midlight }};
}
dd.value, dl.properties dd {
    padding-top: 2pt;
    padding-bottom: 2pt;
}
.properties .icon {
    padding-right: 1pc;
}
#subtitle p{
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}
#logo {
    float: left;
    vertical-align: middle;
    padding: 1ex;
    margin: 0px;
}
#dots {
    float: left;
    padding: 0px;
    padding-right: 1ex;
    vertical-align: top;
    margin: 0px;
}
