{#
#    terbium.css - default style sheet template for the terbium static gallery generation tool
#    Copyright (C) 2009 Shawn Sulma <shawn@terbium.ca>
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
html, body {
    height: 100%;
    min-height: 100%;
    max-width: 100%;
    margin: 0px;
    background-color: {{ item.background }};
}

.frame {
    display: table;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    table-layout: fixed;
}
.bar {
    display: table-row;
    height: 1px;
    width: 100%;
    max-width: 100%;
}
.main {
    display: table-row;
    height: auto;
}


body {
    background-color: {{ item.background }};
    font-family: Helvetica, Tahoma, Arial;
    color: {{ item.main }};
    scrollbar-base-color: {{ item.midlight }};
}
img {
    border: 0px;
    padding: 0px;
    margin: 0px;
    vertical-align: bottom;
}
p {
    padding-right: 1pc;
    padding-left: 1pc;
}

.property, .additional {
    font-size: smaller;
}
#toptitle {
    display: inline-block;
}
#title {
    position:relative;
    background-color: {{ item.midlight }};
    font-weight: bold;
    vertical-align: middle;
    padding: 0.5ex;
    min-height: 48px;
}
#maintitle {
    font-size: 200%;
    min-height: 48px;
}
#subtitle p {
    margin: 0px;
    padding: 0px;
    font-style: italic;
}

#navbar {
    font-size: x-small;
    line-height: 32px;
    height: 32px;
    position: relative;
    background-color: {{ item.utility }};
    padding-left: 1pc;
}

#navbar .breadcrumb, #navbar .breadcrumb * {
    vertical-align: middle;
    line-height: 32px;
}
#footer {
    font-size: x-small;
    padding: 1em;
    clear: both;
    min-height: 64px;
    background-color: {{ item.midlight }};
    vertical-align: middle;
}
#footer p {
    padding: 0px;
    margin: 0px;
}
#footer .marginalia {
    display: inline-block;
    text-align: right;
    margin: 0px;
    width: 49%;
    vertical-align: top;
}
#footer .marginalia p {
    padding: 0.5ex;
    padding-right: 1em;
}

#logo {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    width: 49%;
}
#logo img {
    margin: 1ex;
}
#dots {
    float: left;
    padding: 0px;
    padding-right: 1ex;
    vertical-align: top;
    margin: 0px;
}

img.overlay {
    position: relative;
    top: 10%;
    left: 100%;
    opacity: 0.75;
}
#home {
    position: absolute;
    text-align: right;
    vertical-align: middle;
    bottom: 0px;
    top: 0px;
    right: 0px;
    line-height: 150%;
}
#home * {
        vertical-align: middle;
}
ul.breadcrumbs {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
ul.breadcrumbs li {
    display: inline-block;
    padding: 0px;
    padding-right: 15px;
    background: url(arrow.png) right center no-repeat;
}

#navbar .breadcrumb, #navbar .breadcrumb * {
    vertical-align: middle;
}

#contents {
    display: block;
}
#contents .child {
    position: relative;
    padding: 2px;
    white-space: nowrap;
    vertical-align: bottom;
    text-align: center;
    min-height: 164px;
    display: inline-block;
}
#contents * {
    vertical-align: middle;
}
#contents a, #scrubber-content a { 
    display: block;
}
#contents ul, ul#scrubber-content {
    padding: 0px;
    margin: 0px;
}
#contents li, #scrubber-content li {
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
    display: inline;
}
#contents ul.peek {
    display: inline-block;
    width: 164px;
}
#contents .single {
    width: 162px;
}
#contents .single a, #contents .related a {
    line-height: 162px;
    font-size: xx-small;
}
#contents .single a:hover {
    background-color: transparent;
}
#contents .single a:hover img {
    box-shadow: 0px 0px 4px 4px {{ item.lowlight }};
}

#contents .double, #contents .wide {
    background-color: {{ item.utility }};
    width: 324px;
}
#contents .peek {
    white-space: normal;
}
#contents .peek img {
    max-width: 80px;
    max-height: 80px;
    margin:1px;
}
#contents .caption, #scrubber-content .caption {
    bottom: 0%;
    padding-top: 1ex;
    padding-bottom: 1ex;
}
#contents .caption, #scrubber-content .caption, #contents .related a * {
    line-height: 100%;
}  
.leader {
    top: 0%;
    left: 0%;
    width: 100%;
    line-height: 125%;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    font-size: 60%;    
    font-weight: bold;
}
#contents .caption, #scrubber-content .caption, .leader {
    position: absolute;
    background-color: {{ item.utility }};
    opacity: 0.7;
    color: {{ item.link }};
    text-shadow: 0px 0px 8px {{ item.background }};
    text-align: center;
}
#contents .caption {
    width: 324px;
}

a:link, a:visited {
    color: {{ item.link }};
    text-shadow: 0px 0px 8px {{ item.background }};
    text-decoration: none;
    border: none;
}
a:hover, .highlight, .notouch, a.notouch, div.files span.file a:hover {
    color: {{ item.notouch }};
    text-shadow: 0px 0px 8px {{ item.background }};
    text-decoration: none;
    border: 0px;
    background-color: {{ item.lowlight }};
}
a:active {
    color: {{ item.link }};
    text-shadow: 0px 0px 8px {{ item.background }};
    text-decoration: none;
    border: none;
}
.smallprint {
    font-size: xx-small;
}
.container {
    position: relative;
}
#item {
    text-align: center;
}
#prev_item.notouch:hover, #next_item.notouch:hover, #prev_item.touch, #next_item.touch {
    background-color: rgba( 0,0,0,0.75 );
    opacity: 0.9;
}
#prev_item.notouch, #next_item.notouch {
    opacity: 0.5;
}
#prev_item, #next_item {
    position: absolute;
    bottom: 0px;
    top: 0px;
    width: 10%;
    height: 95%;
    margin: 1pc;
    background-color: transparent;
    background-repeat: no-repeat;
    vertical-align: middle;
}
#prev_item {
    left: 0px;
    background-position: left center;
    background-image: url( 'prev.png' );
}
#next_item {
    right: 0px;
    background-position: right center;
    background-image: url( 'next.png' );
}
#visual {
    display: block;
    position: absolute;
    vertical-align: middle;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 99%;
}

#info-icon {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    position: absolute;
    right: 1pc;
    top: 0px;
    bottom: 0px;
    line-height: 32px;
}
#info-icon img {
    vertical-align: middle;
}

#item-info, #item-info.hidden {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#item-info {
    position: absolute;
    right: 10%;
    top: 5%;
    max-width: 40%;
    background-color: rgba( 32,32,32,0.75 );
    text-align: right;
    opacity: 1.0;
    border-radius: 0.5pc;
    border: 1px rgba( 64,64,64,0.5 ) solid;
}

#item-info table {
    margin: 1pc;
    margin-top: 0px;
}
#item-info th {
    font-variant: small-caps;
    text-align: right;
    vertical-align: top;
    color: white;
    text-shadow: 0px 0px 4px black;
}
#item-info td {
    color: #c0c0c0;
    text-shadow: 0px 0px 4px black;
}
#item-info .title {
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 1ex;
    background-color: rgba( 64,64,64,0.5 );
    border-top-left-radius: 0.5pc;
    border-top-right-radius: 0.5pc;
    text-shadow: 0px 0px 4px black;
}
#item-info.hidden {
    height: 0px;
    overflow: hidden;
    opacity: 0;
    border: none;
}
.info {
    cursor: help;
}
#item-container {
    max-width: 100%;
    vertical-align: middle;
    height: 100%;
}
#image {
    margin: 1pc;
    object-fit: contain !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#image.touch {
    width: 95%;
    max-width: 95%
    height: auto;
}
#image {
    width: auto;
    height: 95%;
}
#visual.zoomed {
    display: inline-block;
    position: fixed;
    top: 0px;
    height: 100%;
    left: 0px;
    width: 100%;
    z-index: 2;
    text-align: center;
    background: rgba( 0,0,0,0.67 );
    overflow: auto;
}
#visual.zoomed img {
    box-shadow: 0px 0px 16px 16px black;
    width: auto;
    height: auto;
    vertical-align: middle;
}

.current {
    box-shadow: 0px 0px 0.5pc 0.5pc {{ item.highlight }};
}

::-webkit-scrollbar {
    width: 1pc;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1pc rgba(0,0,0,0.3); 
    -webkit-border-radius: 1pc;
    border-radius: 1pc;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1pc;
    border-radius: 1pc;
    background: {{ item.main }}; 
    -webkit-box-shadow: inset 0 0 1pc rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: {{ item.midlight }}; 
}


#scrubber-wrapper {
	position: absolute;
	bottom: 0px;
	left: 1px;
	right: 1px;
	overflow: hidden;
}
#scrubber-wrapper.notouch, #scrubber-handle {
	height: 1.5pc;
}
#scrubber-wrapper.touch {
	min-height: 1.5pc;
}
#scrubber-canvas {
	    background-color: {{ item.utility }};
	    opacity: 0.67;
	    position: absolute;
	    overflow: visible;
	    top: 0px;
	    left: 0px;
	    width: 100%;
	    height: 100%;
}
#scrubber-wrapper.notouch:hover #scrubber-canvas {
	border-top: solid 2px {{ item.highlight }};
}
#scrubber-handle {
    background-image: url(scrubber-handle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: {{ item.highlight }};
    font-size: xx-small;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
#scrubber-content {
    position: relative;
    white-space: nowrap;
    height: 171px;
    overflow-y:hidden;
    width: 100%;
}
#scrubber-content.touch {
    transition: height 0.3s ease-in-out;
    height: 0px;
    overflow: hidden;
}
#scrubber-wrapper.notouch:hover #scrubber-handle {
	height: 0px;
}
#scrubber-content.touch.active, #scrubber-wrapper.notouch:hover {
	overflow-x: auto;
}
#scrubber-content.touch, #scrubber-wrapper.notouch, #scrubber-wrapper.notouch:hover #scrubber-handle {
	transition: height 0.2s ease-in-out;
	-webkit-transition: height 0.2s ease-in-out;
	-moz-transition: height 0.2s ease-in-out;
	-o-transition: height 0.2s ease-in-out;
}
#scrubber-wrapper.notouch:hover {
	height: 181px;
}
#scrubber-wrapper.notouch:hover #scrubber-content {
	padding-top: 5px;
	padding-bottom: 5px;
}
#scrubber-content.touch.active {
	height: 171px;
}
#scrubber-content a {
    position: relative;
    display: inline-block;
    margin: 0.5ex;
    vertical-align: middle;
}
#scrubber-content img {
    max-width: 160px;
    max-height: 160px;
}
#scrubber-content .caption {
    max-width: 160px;
    overflow: hidden;
    width: 100%;
}
#scrubber-content a:hover img {
    box-shadow: 0px 0px 4px 4px {{ item.lowlight }};
}
