{#
#    image.html - HTML template for image files in the terbium static gallery generation tool
#    Copyright (C) 2009 Shawn Sulma <shawn@terbium.ca> http://terbium.ca/
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}{% extends "item.html" %}
{% block preview %}<img id='view' class='active' src='{{ item.previewURL }}' onclick='if ( showMe("full","preview") ) { document.getElementById("full_img").src="{{ item.itemURL }}";} else { window.location="{{ item.itemURL }}";}'>{% endblock %}
{% block postview %}<div id='full' class='inactive'><img id='full_img' class='active' onclick='showMe("preview","full");'><p>{% text %}click image to return{% endtext %}</div>{% endblock %}
