{#
#    index.html - generic folder HTML template for the terbium static gallery generation tool
#    Copyright (C) 2009 Shawn Sulma <shawn@terbium.ca> http://terbium.ca/
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}{% extends "base.html" %}
{% block headertitle %}<span id='maintitle'>{% clean %}{{ item.name }}{% endclean %}</span>{% if item.subtitle %}<span id='subtitle'>{% clean %}{{ item.subtitle }}{% endclean%}</span>{% endif %}{% endblock %}
{% block pagetitle %}{% clean %}{{ item.name }}{% endclean %}{% endblock %}
{% block copyright %}unless otherwise noted for individual entries, all items copyright &copy; {{ item.copyright }}{% endblock %}
{% block content %}
    {% if item.description %}
        <div class='desc'>{{ item.description }}</div>
    {% endif %}
    {% if item.folders %}
    <div class='directories'>
    {% for folder in item.folders %}
        <span class='directory'>
          <div class='reference_frame'>
            <span class='thumb'><a class='thumb' href="{{ folder.pageURL }}"><img src="{{ folder.thumbnailURL }}"></a>
            </span><span class='properties'>
                <div class='title'><a href="{{ folder.pageURL }}">{% clean %}{{ folder.name }}{% endclean %}</a></div>
                <div class='teaser property'>{% if folder.subtitle %}{{ folder.subtitle }}{% endif %}</div>
                <ul class='counts property'>
                    {% if folder.folders %}<li>{{ folder.folders|count }} {% text %}albums{% endtext %}</li>{% endif %}
                    {% if folder.files %}<li>{{ folder.files|count }} {% text %}files{% endtext %}</li>{% endif %}
                </ul>
            </span>
            <div class='peek'>
            {% for descendant in folder.items( 4 ) %}
                <a class='icon' href='{{ folder.outputURL }}{{ descendant.pageURL }}'><img src='{{ folder.outputURL }}{{ descendant.iconURL }}' title="{% clean %}{{ folder.name }}{% endclean %}"></a>
            {% endfor %}
            </div>
          </div>
        </span>
    {% endfor %}
    </div>
    {% endif %}
    {% if item.folders and item.files %}<hr>{% endif %}
    {% if item.files %}
    <div class='files'>
    {% for file in item.files %}
        <span class='file'><div class='reference_frame'><a class='thumb{% if file.isPanorama %}orama{% endif %}' href="{{ file.pageURL }}">{% if file.overlayIcon %}<img class='overlay' src='{{ file.overlayIcon }}'>{% endif %}<img src="{{ file.thumbnailURL }}" title="{% clean %}{{ file.name }}{% endclean %}"></a></div></span>
    {% endfor %}
    </div>
    {% endif %}
    {% if item.related %}
    <div class='relateds'>{% if item.files or item.folders %}<div class='title'>{% clean %}See also{% endclean %}&hellip;</div>{% endif %}
    {% for related in item.related %}
        <span class='related'><div class='reference_frame'><span class='thumb'><a href="{{ related.itemURL }}"><img src="{{ related.thumbnailURL }}"></a></span><span class='properties'><a class='title' href="{{ related.itemURL }}">{% clean %}{{ related.name }}{% endclean %}</a>{% if related.subtitle %}<div class='teaser property'>{{ related.subtitle }}</div>{% endif %}</span></div></span>
    {% endfor %}
    </div>
    {% endif %}
{% endblock %}
