{#
#    item.html - generic leaf item HTML template for the terbium static gallery generation tool
#    Copyright (C) 2009 Shawn Sulma <shawn@terbium.ca> http://terbium.ca/
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}{% extends "base.html" %}
{% block pagetitle %}{% clean %}{{ item.name }}{% endclean %}{% endblock %}
{% block headertitle %}{% clean %}{{ item.name }}{% endclean %}{% endblock %}
{% block navigator %}
        <span class='floater'><script>window.onmouseup=function(){ hideElement('before'); hideElement('after'); };</script>
            {% if item.previousItem %}<a href='{{ item.previousItem.pageURL }}' onmouseover="showMe('before', 'after');">&#x25c4;</a>{% endif %}
            {% if item.nextItem %}<a href='{{ item.nextItem.pageURL }}' onmouseover="showMe('after','before');">&#x25ba;</a>{% endif %}
        </span>
        <span id="before" class='siblings before inactive'>{% for sibling in item.previousItems(4) %}<a
                id="{{ sibling.outputName }}.link" class='icon' href='{{ sibling.pageURL }}'
                onmouseover='linkEnter(this, event, "{{ sibling.outputName }}"); return false;'
                onmouseout='linkExit(this, event, "{{ sibling.outputName }}"); return false;'>
            <img id='{{ sibling.outputName }}.thumb' src='{{ sibling.thumbnailURL }}' class='inactive'>
            <img id='{{ sibling.outputName }}.icon' src='{{ sibling.iconURL }}'>
        </a>{% endfor %}</span>
        <span id="after" class='siblings after inactive'>{% for sibling in item.nextItems(4) %}<a
                id="{{ sibling.outputName }}.link" class='icon' href='{{ sibling.pageURL }}'
                onmouseover='linkEnter(this, event, "{{ sibling.outputName }}"); return false;'
                onmouseout='linkExit(this, event, "{{ sibling.outputName }}"); return false;'>
            <img id='{{ sibling.outputName }}.thumb' src='{{ sibling.thumbnailURL }}' class='inactive'>
            <img id='{{ sibling.outputName }}.icon' src='{{ sibling.iconURL }}'>
        </a>{% endfor %}</span>
{% endblock %}
{% block copyright %}&copy; copyright {{ item.copyright }}{% endblock %}
{% block content %}
<div class='{{ item.styleClass }}' id='preview'>
    <span id='item'>
    <span class='visual'>
        <div class='reference_frame'>
            {% block preview %}NO PREVIEW DEFINED{% endblock %}
        </div>
    </span>
    <span class='properties'>
        <div class='title'>{% if item.typeIcon %}<img class='icon' src='{{ item.typeIcon }}'>{% endif %} {% clean %}{{ item.name }}{% endclean %}</div>
        <dl class='properties'>
            {% for property in item.properties %}
            <dt class='label'>{% text %}{{ property.name }}{% endtext %}</dt><dd class='value'>{% clean %}{{ property.value }}{% endclean %}</dd>
            {% endfor %}
        </dl>
        {% if item.additionalProperties %}<p id="more_trigger" class='more' onclick='hideElement("more_trigger"); showElement("more","block");'>{% text %}more{% endtext %}&hellip;</p>
            <dl class='properties' id='more' style='display:none'>
                {% for property in item.additionalProperties %}
                <dt class='label'>{% text %}{{ property.name }}{% endtext %}</dt><dd class='value'>{% clean %}{{ property.value }}{% endclean %}</dd>
                {% endfor %}
        </dl>
        {% endif %}
        {% if item.sourceParent %}<dl class='properties'>
            <dt class='smallprint label'>{% text %}source{% endtext %}</dt><dd>
            <span class='icon'><img src="{{ item.sourceIconURL }}"></span><a href="{{ item.sourcePageURL }}">{{ item.sourceDisplayName }}</a></span></dd>
        </dl>{% endif %}
    </span>
    </span>
</div>
{% block postview %}{% endblock %}
{% endblock %}
