{#
#    base.html - base HTML template for the terbium static gallery generation tool
#    Copyright (C) 2009 Shawn Sulma <shawn@terbium.ca> http://terbium.ca/
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
<html>
<head>
    <script>
onload_callbacks = new Array();
function loaded() {
    for ( var ix in onload_callbacks ) {
        onload_callbacks[ix]();
    }
    onload_callbacks = new Array();
    document.body.classList.remove("loading");
}
    </script>
{% for sheets in item.getGeneratedStylesheets().values() %}{% for sheet in sheets %}
    {% if sheet.default %}
    <link href="{{ item.assetOutputPath }}/{{ sheet.stylesheet }}" rel="stylesheet" title="{{ sheet.name }}">
    {% else %}
    <link href="{{ item.assetOutputPath }}/{{ sheet.stylesheet }}" rel="alternate stylesheet" title="{{ sheet.name }}">
    {% endif %}
{% endfor %}{% endfor %}
    {% block head %}<title>{% block pagetitle %}{% endblock %} - {{ config['site-title'] }}</title>{% endblock %}
    <script src="{{ item.assetOutputPath }}/terbium.js"></script>
    <script src="{{ item.assetOutputPath }}/scrubber.js"></script>
    <script src="folder.js"></script>
</head>
<body onload='loaded();' class="frame loading">
    <div id='header' class="bar">{% block header %}
        <div id='title'><img id='dots' src='{{ item.pathToTop() }}.assets/dots-48.png'><div id='toptitle'>{% block headertitle %}<span id='maintitle'>{{ config['site-title'] }}</span>{% endblock %}</div><div id="home"><a class='feedback' href='mailto:{{ item.feedback }}?subject={{ item.relativePath }}'><img src='{{ item.pathToTop() }}.assets/envelope.gif'></a> <a href='{{ config["main-url"] }}'>{{ config["main-link"] }}</a>&nbsp;</div></div>
        <div id='navbar' class='conatiner'>
            <ul class='breadcrumbs'>
                {% for icon, page, title in item.breadcrumbs() %}
                <li id="nav_{{page}}" class='breadcrumb'><a href='{{ page }}'>{% clean %}{{ title }}{% endclean %}</a></li>
                {% endfor %}
            </ul>
            <div id='info-icon'>{% block info %}{% endblock %}</div>
        </div>
    {% endblock %}</div>
    {% block content %}{% endblock %}
    <div id="footer" class="bar"><a id="logo" href='{{ config.APP_URL }}'><img src='{{ item.pathToTop() }}.assets/terbium-48.png'></a>
        <div class="marginalia">
        <p class='smallprint'>{% block copyright %}{% endblock %}</p>
        <p class='smallprint'>{{ config['site-copyright'] }}</p>
        <p class='smallprint'>{% text %}Gallery generated by {{ config.APP_NAME }} v{{ config.APP_VERSION }}{% endtext %}</p>
        </div>
    </div>
</body>
</html>
