{#
#    index.html - generic folder HTML template for the terbium static gallery generation tool ("neo" theme)
#    Copyright (C) 2009 Shawn Sulma <shawn@terbium.ca> http://terbium.ca/
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}{% extends "base.html" %}
{% block headertitle %}<span id='maintitle'>{% clean %}{{ item.name }}{% endclean %}</span>{% if item.subtitle %}<span id='subtitle'>{% clean %}{{ item.subtitle }}{% endclean %}</span>{% endif %}{% endblock %}
{% block pagetitle %}{% clean %}{{ item.name }}{% endclean %}{% endblock %}
{% block copyright %}unless otherwise noted for individual entries, all items copyright &copy; {{ item.copyright }}{% endblock %}
{% block content %}
<div class='desc'>
{% if item.description %}
    {{ item.description }}
{% else %}
&nbsp;
{% endif %}
</div>
<ul id='contents' class='main'>
    {% for folder in item.folders %}
        <li class='child double'
    ><a href="{{ folder.pageURL }}"
            ><img class='thumb' src="{{ folder.thumbnailURL }}"
            ><ul class='peek'>{% for descendant in folder.preview_items( 4 )
                    %}<li><img src='{{ folder.outputURL }}{{ descendant.thumbnailURL }}' title='{% clean %}{{ folder.name }}{% endclean %}'></li>{%
            endfor %}</ul
            ><div class='caption'><div class='title'>{% clean %}{{ folder.name }}{% endclean %}</div></div
    ></a
       ></li>
    {% endfor %}
    {% for file in item.files %}
        {% if file.isPanorama %}
    <li class='child wide'>
        {% else %}
    <li class='child single'>
        {% endif %}
        <a href="{{ file.pageURL }}">
        {% if file.overlayIcon %}
        <img class='overlay' src='{{ file.overlayIcon }}'>
        {% endif %}
        <img class='thumb' src="{{ file.thumbnailURL }}" title="{% clean %}{{ file.name }}{% endclean %}">
        &#8203;</a>
    </li>
    {% endfor %}
    {% for related in item.related %}
    {% if related.items %}
    <li class='child double related'>
        <a href="{{ related.itemURL }}">
        <div class='leader'>{% text %}see also{% endtext %}</div>
        <img class='thumb' src="{{ related.thumbnailURL }}"><ul
         class='peek'>{% for descendant in related.preview_items( 4 ) %}<li
         ><img src='{{ related.pathTo( related.actual.outputName ) }}/{{ descendant.thumbnailURL }}' title='{% clean %}{{ descendant.name }}{% endclean %}'></li
        >{% endfor %}</ul>
        <div class='caption'><div class='title'>{% clean %}{{ related.name }}{% endclean %}</div></div>&#8203;
        </a>
    </li>
    {% else %}
    <li class='child single'>
        <a href="{{related.itemURL}}">
            <div class='leader'>{% text %}See also{% endtext %}</div>
            <img src="{{ related.thumbnailURL }}">&nbsp;
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}
