{#
#    item.html - generic leaf item HTML template for the terbium static gallery generation tool
#    Copyright (C) 2009 Shawn Sulma <shawn@terbium.ca> http://terbium.ca/
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}{% extends "base.html" %}
{% block pagetitle %}{% clean %}{{ item.name }}{% endclean %}{% endblock %}
{% block headertitle %}<span id='maintitle'>{% clean %}{{ item.name }}{% endclean %}</span>{% endblock %}
{% block copyright %}&copy; copyright {{ item.copyright }}{% endblock %}
{% block info %}&nbsp;<img src='{{ item.pathToTop() }}.assets/info.png' class='info' onclick='toggleElement("item-info","terbium.info");'>{% endblock %}
{% block content %}
<div id='item' class='main'>
    <div id="item-container" class='container'>
        <div id='visual' onclick='toggle_item(document.getElementById("visual"));'>{% block preview %}<img id='image' class='no-image' src='{{ item.pathToTop() }}.assets/no-image.png'>{% endblock %}&nbsp;</div>
        <div id='item-info' class='hidden' onclick='toggleElement("item-info");'>
            <div class='title'>{% if item.typeIcon %}<img class='icon' src='{{ item.typeIcon }}'>{% endif %} {% clean %}{{ item.name }}{% endclean %}</div>
            {% if item.description %}<p class='description'>{{ item.description }}</p>{% endif %}
            <table class='properties'>
            {% for property in item.properties %}
            <tr class='property'><th class='label'>{% text %}{{ property.name|lower }}{% endtext %}</th><td class='value'>{% clean %}{{ property.value }}{% endclean %}</td></tr>
            {% endfor %}
            {% if item.additionalProperties %}{% for property in item.additionalProperties %}
            <tr class='additional'><th class='label'>{% text %}{{ property.name|lower }}{% endtext %}</th><td class='value'>{% clean %}{{ property.value }}{% endclean %}</td></tr>
            {% endfor %}{% endif %}
            </table>
            {% if item.sourceParent %}
            <p class='source'>{% text %}source{% endtext %}
                <span class='icon'><img src="{{ item.sourceIconURL }}"></span>
                <a href="{{ item.sourcePageURL }}">{{ item.sourceDisplayName }}</a>
            </p>
            {% endif %}
        </div>
        {% if item.previousItem %}
        <a id='prev_item' class="touch" href='{{ item.previousItem.pageURL }}'>&#8203;</a>
        {% endif %}
        {% if item.nextItem %}
        <a id='next_item' class="touch" href='{{ item.nextItem.pageURL }}'>&#8203;</a>
        {% endif %}
    </div>
</div>
<div id='scrubber' class='bar'>
    <div class="container"><div id="scrubber-wrapper" class="touch" onclick="toggle_scrubber();">
	<div id='scrubber-canvas'>&nbsp;</div>
        <div id='scrubber-handle' class="touch">&nbsp;</div>
        <ul id='scrubber-content' class="touch"></ul>
    </div></div><script>
var itemURL = "{{item.itemURL}}";
var c = document.cookie;
if ( ! c || c.split(';').length == 0 ) {
    document.cookie = "TERBIUM_LOCAL_STORAGE=1";
}

function load_scrubber() {
    var sc = document.getElementById( 'scrubber-content' );
    sc.innerHTML = build_scrubber( "{{ item.thumbnailURL }}" );
    setTimeout( function() { scroll_scrubber( sc ); }, 300 );
}

function load_info() {
    try {
        var show = localStorage.getItem( "terbium.info" ) == "true";
    }
    catch( err ) {}
    if ( show ) {
        document.getElementById( "item-info" ).classList.remove( "hidden" );
    }
}

function item_swipes() {
    var self = document.getElementById( "visual" );
    attach_gestures( self );
    self.onSwipeLeft = function() { {% if item.previousItem %}self.onclick=null;window.location = "{{ item.previousItem.pageURL }}";{%endif%} };
    self.onSwipeRight = function() { {% if item.nextItem %}self.onclick=null;window.location = "{{ item.nextItem.pageURL }}";{%endif%} };
    self.onSwipeUp = function() { if ( is_touch_device() ) { scrubber_up(); } };
    self.onSwipeDown = function() { if ( is_touch_device() ) { scrubber_down(); } };
    self.onGestureStart = function( x, y ) { self._ox = self.offsetLeft; self._gx = x; };
    self.onGestureDrag = function( x, y ) { var dx = x - self._gx; self.style.left = (self._ox + dx) + "px"; };
    self.onGestureEnd = function() { self.style.left = self._ox + "px"; }
}
onload_callbacks.push( resize_visual );
onload_callbacks.push( load_scrubber );
onload_callbacks.push( load_info );
onload_callbacks.push( touching );
onload_callbacks.push( item_swipes );
window.onresize = resize_visual;
    </script></div>
{% endblock %}
